<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="expo.modules.prayerlock">

  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
  <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

  <application>
    <service
      android:name=".PrayerLockService"
      android:foregroundServiceType="specialUse"
      android:stopWithTask="false"
      android:exported="false" />

    <receiver
      android:name=".BootReceiver"
      android:enabled="true"
      android:exported="true">
      <intent-filter android:priority="999">
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
      </intent-filter>
    </receiver>

    <receiver
      android:name=".WatchdogReceiver"
      android:enabled="true"
      android:exported="false">
      <intent-filter>
        <action android:name="expo.modules.prayerlock.WATCHDOG_RESTART" />
      </intent-filter>
    </receiver>

    <receiver
      android:name=".PrayerAlarmReceiver"
      android:enabled="true"
      android:exported="false">
      <intent-filter>
        <action android:name="expo.modules.prayerlock.PRAYER_ALARM" />
      </intent-filter>
    </receiver>
  </application>

</manifest>